<!DOCTYPE html>
<html>
<head>
  <title>Top 100 Albums of All Time!</title>
  <meta charset="utf-8"/>
</head>
<body>
<h1>Top 100 Albums of All Time!</h1>
  <form action="/" method="get">
    Sort by:
    <button name="rank" type="button" onClick=<% sortRank %> value="test1">Rank</button>
     <button name="year" type="button" onClick=<% sortYear %> value="test4">Year</button>
     <button name="album" type="button" onClick=<% sortTitle %> value="test2">Album</button>
     <button name="length" type="button" onClick=<% sortLength %> value="test3">Album Length</button>
  </form>
  <table>
    <tr>
      <th>Rank</th>
      <th>Album Name</th>
      <th>Year</th>
    </tr>
      <% @allOfTheAlbums.each do | album | %>
        <tr>
	         <td><%= album.rank %></td>
	         <td><%= album.title %></td>
	         <td><%= album.year %></td>
        </tr>
      <% end %>
  </table>
</body>
</html>