<!DOCTYPE html>
<html>
<head>
  <title>Top 100 Albums of All Time!</title>
  <meta charset="utf-8"/>
</head>
<body>
<h1>Top 100 Albums of All Time!</h1>
  Sort by:
  <form action="/rank" method="POST">
    <input type="submit" value="Rank">
  </form>
  <form action="/year" method="POST">
    <input type="submit" value="Year">
  </form>
  <form action="/title" method="POST">
    <input type="submit" value="Title">
  </form>
  <form action="/titleLength" method="POST">
    <input type="submit" value="Title Length">
  </form>
  <table>
    <tr>
      <th>Rank</th>
      <th>Album Name</th>
      <th>Year</th>
    </tr>
      <% @allOfTheAlbums.each do |album| %>
        <tr>
	         <td><%= album.rank %></td>
	         <td><%= album.title %></td>
	         <td><%= album.year %></td>
        </tr>
      <% end %>
  </table>
</body>
</html>